@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    height: 100vh;
}
.center{
    position: absolute;
    border: 3px inset;
    border-color:rgba(243, 189, 13, 0.973);  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    backdrop-filter: blur(9px);
    border-radius: 10px;
    animation: 1.1s slide-left;
}
@keyframes slide-left{
    from{

        width:50%;
    }
    to{
        
        width: 400px;
    }
}
.center:hover{
    box-shadow: 10px 10px 40px  rgba(243, 189, 13, 0.973); 
    transition: 1s;
}
h1{
    color: white;
}
.center h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid white;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0 ;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(243, 189, 13, 0.973);
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top:-5px;
    color: rgba(243, 189, 13, 0.973);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin:  -5px 0 20px 5px;
    color: #a6a6a6;
    cursor:pointer
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: none;
    background:rgba(243, 189, 13, 0.973); 
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    transition: .5s;
    transform: scale(0.9);
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #a6a6a6;;
}
.signup_link a{
    color: rgba(243, 189, 13, 0.973); 
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}
.quote{
    margin-left: 15%;
    margin-top: -1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.quote h1 {
    color: white;
    font-size: 21rem;
    line-height: 100px;
    font-weight:bolder;
    opacity: 40%; 
    line-height: 260px;
    animation: 5s opacity;
}
@keyframes opacity{
    from{

      opacity: 0%;
    }
    to{
        
        opacity: 40%;
    }
}






