.top box {
    background:#043d4d; 
    
    width: 100%;
    height: 50px;
    position: obsolute;
    top:0;
    float:left;
  }
  .top box a{
    text-decoration: none;
    
    text-align: center;
    padding: 10px 10px;
    font-size: 25px;
    color:white;
    
    float: right;
  }
  .topbox a:hover{
    background-color: #ddd;
    color: black;
  }