.top_box {
    background:#043d4d; 
    
    width: 100%;
    height: 50px;
    position: sticky;
    top:0;
    float:left;
  }
  .top_box a{
    text-decoration: none;
    
    text-align: center;
    padding: 10px 10px;
    font-size: 25px;
    color:white;
    
    float: right;
  }
  .top_box a:hover{
    background-color: #ddd;
    color: black;
  }
  body{
      margin :0;
      padding :0;
  }
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    width:50%;
    height: 50%;
    padding-top: 5%;
  }