body{
  margin: 0px;
  padding: 0px;
  background-color: #f0f2f5;
}

.container{
  position:fixed;
  top: 30%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; 
  margin-left: -15em;
}

.title{
  color: #0863da;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.loginBox{
  background-color: white;
  border: 1px solid #ccc;
}