body {
  margin: 0px;
  padding: 0px;
  background-color: #f0f2f5;
}

a{
  text-decoration: none;
  color: #4080d4;
  font-weight: 300;
}
.container {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 26em;
  height: 22em;
  margin-top: -11em;
  margin-left: -13em;
}

.title {
  color: #1a6fdd;
  text-align: center;
  font-family: serif;
  font-size: 50px;
  font-weight: 900;
}

.loginBox {
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 0px 50px 0px;
  margin-top: -10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.loginBox h3 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 300;
}

.fields {
}

.email {
  padding: 0px 0px 20px 0px;
}

.btn {
  padding: 10px 0px;
}

button {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 165px 18px 165px;
  background-color: #1877f2;
  border: none;
  border-radius: 5px;
}

input{
  font-size: 16px;
  padding: 15px 90px;
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}