:root{
    --primaryColor:#f6f8fb;
    --secondaryColor:#eeeeee;
}
body{
    margin: 0;
    padding: 0;
}
div.header{
    background-color: var(--primaryColor);
    height: 35px;
    align-items: center;
    justify-content:space-between;
    display: flex;
}
.search{
    border-radius: 20px;
    border: 1px var(--secondaryColor) solid;
    height: 30px;
    width: 350px;
    padding-left: 15px;
}
.menu-icon{
    height: 26px;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    padding: 0px 10px;
}
.img{
    position: sticky;
    top: 0;
    width: 150px;
}
