h1 {
    color: aqua;
}
th,td,table{
    border: 1px solid black;
    border-collapse: collapse;
}
ol{
  border: black 1px solid;
  display: inline-block;
  padding: 10px 50px;
}
button{
    border: tomato 1px solid;
    background-color: turquoise;
}
