*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 50px;
    background: gray;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 0%;
    float: left;
    line-height: 80px;
}
nav{
    float: right;
    font-family:'Raleway', sans-serif;;
    line-height:50px ;
}
nav a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 0 20px;
    color: black;
}

